USE [domofon14]
GO
/****** Object:  StoredProcedure [dbo].[список_разрешений]    Script Date: 13.08.2014 8:51:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[список_разрешений]
as
select разрешения.разрешение,
разрешения.клиент,
разрешения.дата_с,
разрешения.дата_по,
разрешения.номер,
разрешения.телефон,
разрешения.эл_почта,
клиенты.фио,
улицы.наимен as наимен_улицы,
дома.номер as номер_дома,
дома.корпус,
клиенты.квартира,
клиенты.ввод
from разрешения inner join клиенты
on разрешения.клиент=клиенты.клиент
inner join дома
on клиенты.дом=дома.дом
inner join улицы
on дома.улица=улицы.улица
order by разрешения.дата_с;