<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="domofon14Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=user14;initial catalog=domofon14;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="domofon14Entities1" connectionString="metadata=res://*/ModelSql.csdl|res://*/ModelSql.ssdl|res://*/ModelSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=user14;initial catalog=domofon14;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="domofon40.Properties.Settings.domofon14ConnectionString" connectionString="Data Source=user14;Initial Catalog=domofon14;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<appSettings>
    --><!-- Заполнить желательно все значения. Переменные используются в классе SmsRuProvider, там описано их назначение.--><!--
    <add key="smsRuLogin" value="(906)8015888" />
    <add key="smsRuPassword" value="temnoe66" />
    <add key="smsRuApiID" value="0ae81156-a8a9-cc74-799d-4e107127d411" />
    <add key="partnerID" value="7453" />
    <add key="logFolder" value="C:\Temp\SmsRu\" />
    <add key="smsRuEmail" value="0ae81156-a8a9-cc74-799d-4e107127d411@sms.ru" />
    <add key="email" value="dma@intess.ru" />
    <add key="smtpServer" value="mail.intess.ru" />
    <add key="smtpPort" value="110" />
    <add key="smtpLogin" value="dma" />
    <add key="smtpPassword" value="123123" />
    <add key="smtpUseSSL" value="false" />
    <add key="translit" value="false" />
    <add key="test" value="false" />
  </appSettings>-->
</configuration>